
/* hide breadcrumb */
.view-header-breadcrumb,
.view-header-breadcrumb-separator {
  display: none;
}

/* hide link underline */
.theme-light, .theme-dark {
  --link-decoration: none;
  --link-decoration-hover: none;
  --link-external-decoration: none;
  --link-external-decoration-hover: none;
}

/* hide external link icon */
.external-link {
  background-image: none;
  padding-right: 0px;
}

/* remove heading margin */
.cm-content > .HyperMD-header {
    --p-spacing: 0;
}

/* table heading align center */
table th {
  text-align: center !important;
}

/* table cell config */
table th, table td, table .cm-line {
  height: unset !important;
  --table-cell-vertical-alignment: middle;
  white-space: nowrap !important;
}

/* embed title */
.embed-title {
  display: none;
}
