
/* hide breadcrumb */
.view-header-breadcrumb,
.view-header-breadcrumb-separator {
  display: none;
}

/* hide link underline */
.theme-light, .theme-dark {
  --link-decoration: none;
  --link-decoration-hover: none;
  --link-external-decoration: none;
  --link-external-decoration-hover: none;
}

/* hide external link icon */
.external-link {
  background-image: none;
  padding-right: 0px;
}

.cm-content > .HyperMD-header {
    --p-spacing: 0;
}

table td, table .cme-line {
  height: unset !important;
  --table-cell-vertical-alignment: middle;
}

table th {
  text-align: center !important;
}
